{% extends 'base.html' %}
{% block content %}

<div class="host-header"><h3 class="header-text">Host registration</h3></div>
<div class="visitor_form">
    <form method="POST">
        {% csrf_token %}
        <div class="form-div">
            <div class="form_content">
                <label for="id_host">Name : </label>
            </div>
            <div class="form-content input">
            {{ form.name }}
            </div>
        </div>
        <div class="form-div">
            <div class="form_content">
                <label for="id_email">Email : </label>
            </div>
            <div class="form-content input">
            {{ form.email }}
            </div>
        </div>
        <div class="form-div">
            <div class="form_content">
                <label for="id_phone">Phone : </label>
            </div>
            <div class="form-content input">
            {{ form.phone }}
            </div>
        </div>
        <div class="form-div">
            <div class="form_content">
                <label for="id_address">Address : </label>
            </div>
            <div class="form-content input">
            {{ form.address }}
            </div>
        </div>
        <div class="form-button-div">
            <button type="submit" class="form-button">submit</button>
        </div>
    </form>
</div>

{% endblock %}

{% block url-1 %}

<div class="base-visitor-div">
    <a href="{% url 'app:visitor_entry' %}" class="base-visitor"><button class="button">Visitor</button></a href="#">
</div>
{% endblock %}

{% block url-2 %}
<div class="footer">
    <a href="{% url 'app:about_view' %}" class="about"><button class="button">About</button></a href="#">
</div>
{% endblock %}
<!--'name','email','phone','address'-->